.g-slide {
    height: 500px;
}
.g-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.g-slide-wrapper {
    display: flex;
    align-items: center;
    transition: all 1s ease-out;
    height: 100%;
}
.g-slide-main {
    overflow: hidden;
    height: 50%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.g-slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.g-slide-arrow__prev {
    left: -100px;
}
.g-slide-arrow__next {
    right: -100px;
}